<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StuffFinder</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><a href="/classifieds">Browse Classifieds</a></li>
              <li><a href="/classifieds/new">Post to Classifieds</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a data-method="delete" href="/users/sign_out" rel="nofollow">Sign out</a></li>
      </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


<div class="navbar">
  <div class="navbar_inner">
    <div style="float: right;">
        <a href="<%= new_user_session_path %>">Log In</a> |
        <a href="<%= new_user_registration_path %>">Sign Up</a>
    </div>
<ul class="nav">
  <li class="brand">StuffFinder</li>
    <li class="active"></li><a href="<%= classifieds_path %>">Browse Classifieds</a>


<div class="container">

<%= yield %>

</div>
</body>
</html>
